<!--<p>{{games | json}}</p>-->


<carousel interval="myInterval">
	<slide ng-repeat="slide in slides" active="slide.active">
		<a ng-href="#/games/{{slide.id}}"><img ng-src="{{slide.image}}"  style="margin:auto;width:500px;height:300px; margin:auto"></a>
		<div class="carousel-caption"> </div>
	</slide>
</carousel>


<!-- Articles -->

<div class="container-fluid" style="margin-top:50px">
	<div class="row">
		<div class="conteneur">
			Recherche <input ng-model="query">
			Trier par : 
			<select ng-model="orderArticle">
				<option value="date">Date</option>
				<option value="genre">Genre</option>					
			</select>
		</div>
		<div class="conteneur">
			<ul>
				<br>
				<li class="thumbnail" ng-repeat="article in articles | filter:query | orderBy:orderArticle">
				<p class="centrerTitle">{{article.title }}</p>
				<p>{{article.genre}}<span class="tab">{{article.date}}</span><P>				
				<p> {{article.content | characters:250}} </p>
				</li>
			</ul>
		</div>
	</div>
</div>
